{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Login{% endblock%}

{% block content %}
<main id="produtos">
    <div class="tabelaDetalhes">
            <div class="container">
                    <div class="row">
                        <div class="ccol-md-4 offset-md-4">
                            <div class="card  auth-card">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Login</h4>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ next }}">
                                        {{ form|crispy }}
                                        <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                                    </form>
                                    <p class="change-form-p">Cadastre-se na Rapidog <a class="clique" href="/accounts/register">clique aqui</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div> 
</main>
{% endblock %}