{% extends 'layout.html' %}
{% load static %}

{% block content %}
<main id="produtos">
    <div class="tabelaProdutos">
        <form class="formBusca" method="GET" action=".">
            <input type="search" name="q" id="buscaProdutos" placeholder="Busque por marca ou nome"></input>
            <button class="botaoBusca" type="submit"></button>
        </form>
    {% if query %}
        {% if resultados %}
        <div class="divBusca">
            <h1 class="textoResultado">Resultados da busca "{{query}}" em Alimentação</h1>
            <button class="refresh">Limpar busca</button>
        </div>
        <div class=displayProdutos>
            {% for produto in resultados %}
            <a href="{% url 'detalhe_produto' produto.slug %}">    
                <div id="produto">
                    <img src="{{ MEDIA_URL }} ../../../{{produto.imagem.url}}" alt="Imagem de produto.">
                    <p class="produtoDescricao">{{produto.nome_produto}}</p>
                    <p class="produtoMarca">{{produto.marca}}</p>
                    <p class="produtoPreco">R$ {{produto.preco}}</p>
                </div>
            </a>
            {% endfor %}
        {% else %}
        <div class="divBusca">
            <h1 class="textoResultado">Sua busca por "{{query}}" não retornou resultados</h1>
            <button class="refresh">Limpar busca</button>
        </div>
        {% endif %}
    {% else %}
        <h1>Alimentação</h1>
        <div class=displayProdutos>
            {% for produto in alimentacao %}
            <a href="{% url 'detalhe_produto' produto.slug %}">    
                <div id="produto">
                    <img src="{{ MEDIA_URL }} ../../../{{produto.imagem.url}}" alt="Imagem de produto.">
                    <p class="produtoDescricao">{{produto.nome_produto}}</p>
                    <p class="produtoMarca">{{produto.marca}}</p>
                    <p class="produtoPreco">R$ {{produto.preco}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    {% endif %}
    </div>
</main>
{% endblock %} 