{% extends 'layout.html' %}
{% load static %}

{% block content %}
<main id="produtos">
    <div class="tabelaProdutos">
        <form class="formBusca" method="GET" onkeypress="busca" action="">
            <input type="search" name="Busca" id="buscaProdutos" placeholder="Busque por código, nome ou marca">
        </form>
        {% if busca %}
        <h1>Resultado da busca em Higiene & Saúde</h1>
        <div class=displayProdutos>
            {% for produto in higiene %}
            <div id="produto">
                <img src="../../../{{produto.imagem.url}}" alt="">
                <p class="produtoDescricao">{{produto.nome_produto}}</p>
                <p class="produtoMarca">{{produto.marca}}</p>
                <p class="produtoPreco">R$ {{produto.preco}}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h1>Higiene & Saúde</h1>
        <div class=displayProdutos>
            {% for produto in higiene %}    
            <div id="produto">
                <img src="../../../{{produto.imagem.url}}" alt="">
                <p class="produtoDescricao">{{produto.nome_produto}}</p>
                <p class="produtoMarca">{{produto.marca}}</p>
                <p class="produtoPreco">R$ {{produto.preco}}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</main>
{% endblock %} 