{% extends 'layout.html' %}
{% load static %}

{% block content %}
<header>
    <div class="divConteudo">
        <div class="texto">
        <h1>Teu dia mais fácil,<br><span>seu pet mais feliz!<span></h1>
        <p class="p1">Com rapidog você encontra tudo o que precisa para seu pet. De produtos ao pet shop de confiança mais próximo de você. Mais facilidade e comodidade em seu dia-a-dia.</p>
        <button>Clique aqui</button>
        </div>
    </div>
    <div class="divImg">
        <img src="{% static 'imagens/Mockups_app.png' %}" alt="Imagem de dois celulares com o aplicativo rapidog aberto.">
    </div>
</header>
{% endblock %}     