{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<header class="index">
    <div class="index-conteudo">
        <div class="conteudo-texto">
            <h1>Teu dia mais fácil, seu pet mais feliz!</h1>
            <p>Com Rapidog você encontra tudo o que precisa para seu pet! De produtos alimentícios, higiene e brinquedos ao pet shop de confiança mais próximo de você.</p>
            <a href="/petshops"><button class="conteudo-botao">Encontrar Pet Shops</button></a>
            <a href="/produtos"><button class="conteudo-botao">Comprar Produtos</button></a>
            <div class="conteudo-download">
                <p>Baixe o aplicativo e aproveite!</p>
                <div class="download-imagem">
                    <img class="download-imagem-google" src="{% static 'imagens/badge-google-play.png' %}" alt="">
                    <img class="download-imagem-apple" src="{% static 'imagens/badge-ios.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>    
    <div class="conteudo-imagem">
        <img src="{% static 'imagens/Mockups_app.png' %}" alt="Imagem de dois celulares com o aplicativo rapidog aberto.">
    </div>
</header>
<div class="newsletter">
    {% if news %}
    <p>Assine nossa Newsletter</p>
    <div class="newsletter-form">
        <form method="POST">
        {% csrf_token %}
        {% with WIDGET_REQUIRED_CLASS='newsletter-form-email' %}
        {% render_field news.email %}
        {% endwith %}
        <button class="newsletter-form-botao" type="submit">Enviar</button>
        </form>
    </div>
    {% endif %}
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
</div>
{% endblock %}     