{% extends 'layout.html' %}
{% load static %}

{% block content %}
<header>
    <div class="divConteudo">
        <div class="texto">
            <h1>Teu dia mais fácil,<br><span>seu pet mais feliz!<span></h1>
            <p class="p1">Com Rapidog você encontra tudo o que precisa para seu pet! De produtos alimentícios, higiene e brinquedos ao pet shop de confiança mais próximo de você.</p>
            <a href="/petshops"><button>Encontrar Pet Shops</button></a>
            <a href="/produtos"><button>Comprar Produtos</button></a>
            <div class="divDownload">
                <p>Baixe o aplicativo e aproveite!</p>
                <div class="divDownImg">
                    <img class="divDownGoogle" src="{% static 'imagens/badge-google-play.png' %}" alt="">
                    <img class="divDownApple" src="{% static 'imagens/badge-ios.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>    
    <div class="divImg">
        <img src="{% static 'imagens/Mockups_app.png' %}" alt="Imagem de dois celulares com o aplicativo rapidog aberto.">
    </div>
</header>
{% endblock %}     