{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script defer src="{% static 'scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="shortcut icon" href="{% static 'imagens/icones/favicon-rapidog.png' %}" type="image/x-icon">
    <title>rapidog - o app do seu pet shop</title>
</head>
<body>
    <nav class="layout-navbar">
        <div class="navbar-logo">
             <a href="/"><img class="logo" src="{% static 'imagens/logotipo.png' %}"></a>
        </div>
        <div class="navbar-ancoras">
            <a href="/">Sobre</a>
            <a href="/petshops">Encontrar Pet Shops</a>
            <button class="botao-drop" onclick="dropdown()">Comprar Produtos 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-conteudo" id="dropdown">
                <a href="/produtos">Ver Todos</a>
                <a href="/produtos/alimentacao">Alimentação</a>
                <a href="/produtos/brinquedos">Brinquedos</a>
                <a href="/produtos/higiene">Higiene & Saúde</a>
            </div>
            <a href="/contato">Contato</a>
            {% if user.is_authenticated %}
            <a href="">Olá, {{ user.username }}</a>
            <a href="/accounts/logout">Sair</a>
            {% else %}
            <a href="/accounts/login">Login</a>
            {% endif %}
        </div>
        <img class="nav-menu-responsive" src="{% static 'imagens/icones/menu-respo.png' %}">
    </nav>
    {% block content %}

    {% endblock %}
        <div class="footer-social">
            <div class="footer-social-icones">
                    <div><img src="{% static 'imagens/icones/twitter.png' %}" alt="Logotipo Twitter."></div>
                    <div><img src="{% static 'imagens/icones/facebook.png' %}" alt="Logotipo Facebook."></div>
                    <div><img src="{% static 'imagens/icones/linkedin.png' %}" alt="Logotipo LinkedIn."></div>
                    <div><img src="{% static 'imagens/icones/youtube.png' %}" alt="Logotipo YouTube."></div>  
            </div>
        </div>
        <footer class="layout-footer">
        <div class="footer-conteudo">
            <div class="footer-conteudo-raiz">
                <p>Menu</p>
                <ul>
                    <li><a href="/">Sobre</a></li>
                    <li><a href="/petshops">Encontrar Pet Shops</a></li>
                    <li><a href="/produtos">Comprar Produtos</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="/accounts/login">Login</a></li>
                </ul>
            </div>
            <div class="footer-conteudo-contato"></div>
            <div class="footer-conteudo-redes"></div>
        </div>
    </footer>
    <div class="footer-desenv">
        <p>Desenvolvido por Denis e Leandra. 2019.</p>
    </div>
</body>
</html>
