{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script defer src="{% static 'scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="shortcut icon" href="{% static 'imagens/icones/icon_placeholder.png' %}" type="image/x-icon">
    <title>rapidog - o app do seu pet shop</title>
</head>
<body>
    <nav class="navFixa">
        <div class="navLogo">
             <a href="/"><img src="{% static 'imagens/logotipo.png' %}" alt=""></a>
        </div>
         <div class="navAncoras">
            <a href="/">Sobre</a>
            <a href="/petshops">Encontrar Pet Shops</a>
            <a href="/produtos">Comprar Produtos</a>
            <a href="">Contato</a>
            <a href="">Login</a>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
    <footer>
        <div class="footerNews">
            <div class="newsletter">
                <p>Assine nossa Newsletter</p>
                <form method="POST">
                    {% csrf_token %}
                    <input class="formEmail" type="email" name="" id="">
                    <button class="formBotao" type="submit">Enviar</button>
                </form>
            </div>
            <div class="redessociais">
                    <div><img src="{% static 'imagens/icones/twitter.png' %}" alt="Logotipo Twitter."></div>
                    <div><img src="{% static 'imagens/icones/facebook.png' %}" alt="Logotipo Facebook."></div>
                    <div><img src="{% static 'imagens/icones/linkedin.png' %}" alt="Logotipo LinkedIn."></div>
                    <div><img src="{% static 'imagens/icones/youtube.png' %}" alt="Logotipo YouTube."></div>  
            </div>
        </div>
        <div class="footerConteudo">
            <div class="footerRaiz">
                <p>Menu</p>
                <ul>
                    <li><a href="/">Sobre</a></li>
                    <li><a href="/petshops">Encontrar Pet Shops</a></li>
                    <li><a href="/produtos">Comprar Produtos</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </div>
            <div class="footerContato"></div>
            <div class="footerRedes"></div>
        </div>
        <div class="footerCriadores">
            <p>Criado por Denis, Leandra, Luana e Yasmim. 2019.</p>
        </div>
    </footer>
</body>
</html>
