{% extends 'layout.html' %}
{% load static %}

{% block content %}
<main id="produtos">
    <div class="tabelaProdutos">
        <div class="navBusca">
                <input type="search" name="Buscar" id="buscaProdutos" placeholder="Busque por código, nome ou marca">
                <img src="{% static 'imagens/cart.png' %}" alt="">
        </div>
        <div class=divBanners>
            <div>
                <img src="{% static 'imagens/banner1.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'imagens/banner2.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'imagens/banner3.png' %}" alt="">
            </div>
        </div>
        <h1>Produtos</h1>
        <div class=displayProdutos>
            <div id="produto">
                <img src="{% static 'imagens/racao.png' %}" alt="">
                <p class="produtoDescricao">Ração Adulto Carne e Vegetais 3kg</p>
                <p class="produtoMarca">Pedigree</p>
                <p class="produtoPreco">R$ 39,45</p>
            </div>
            <div id="produto">
                <img src="{% static 'imagens/racao2.jpg' %}" alt="">
                <p class="produtoDescricao">Ração Premium Adulto Vegetais 15kg</p>
                <p class="produtoMarca">Magnus</p>
                <p class="produtoPreco">R$ 79,90</p>
            </div>
    </div>
</main>
{% endblock %} 