{% extends 'layout.html' %}
{% load static %}

{% block content %}
<main id="produtos">
    <div class="tabelaProdutos">
        <div class=divBanners>
            <div>
                <a href="/produtos/brinquedos"><img src="{% static 'imagens/banner1.png' %}" alt="Imagem promocional."></a>
            </div>
            <div>
                <a href="/produtos/alimentacao/?q=petisco"><img src="{% static 'imagens/banner2.png' %}" alt="Imagem promocional."></a>
            </div>
            <div>
                <a href="/produtos/higiene"></a><img src="{% static 'imagens/banner3.png' %}" alt="Imagem promocional.">
            </div>
        </div>
        <div class="divCategoria">
            <h1>Alimentação</h1>
            <a href="alimentacao/" class="ancoraCategoria">Ver mais produtos</a>
        </div>
        <div class=displayProdutos>
            {% for produto in alimentacao %}
            <a href="{% url 'detalhe_produto' produto.slug %}">    
                <div id="produto">
                    <img src="{% static '/imagens/produtos/' %}{{produto.codigo_produto}}.png" alt="Imagem de produto.">
                    <p class="produtoDescricao">{{produto.nome_produto}}</p>
                    <p class="produtoMarca">{{produto.marca}}</p>
                    <p class="produtoPreco">R$ {{produto.preco}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="divCategoria">
            <h1>Higiene & Saúde</h1>
            <a href="higiene/" class="ancoraCategoria">Ver mais produtos</a>
        </div>        
            <div class=displayProdutos>
            {% for produto in higiene %}
            <a href="{% url 'detalhe_produto' produto.slug %}">    
                <div id="produto">
                    <img src="{% static '/imagens/produtos/' %}{{produto.codigo_produto}}.png" alt="Imagem de produto.">
                    <p class="produtoDescricao">{{produto.nome_produto}}</p>
                    <p class="produtoMarca">{{produto.marca}}</p>
                    <p class="produtoPreco">R$ {{produto.preco}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
        <div class="divCategoria">
            <h1>Brinquedos & Acessórios</h1>
            <a href="brinquedos/" class="ancoraCategoria">Ver mais produtos</a>
        </div>
        <div class=displayProdutos>
            {% for produto in brinquedos %}
            <a href="{% url 'detalhe_produto' produto.slug %}">    
                <div id="produto">
                    <img src="{% static '/imagens/produtos/' %}{{produto.codigo_produto}}.png" alt="Imagem de produto.">
                    <p class="produtoDescricao">{{produto.nome_produto}}</p>
                    <p class="produtoMarca">{{produto.marca}}</p>
                    <p class="produtoPreco">R$ {{produto.preco}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %} 