{% extends 'layout.html' %}
{% load static %}

{% block content %}
<main id="produtos">
    <div class="tabelaProdutos">
        <div class="navBusca">
                <input type="search" name="Buscar" id="buscaProdutos" placeholder="Busque por código, nome ou marca">
                <img src="{% static 'imagens/cart.png' %}" alt="">
        </div>
        <div class=divBanners>
            <div>
                <img src="{% static 'imagens/banner1.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'imagens/banner2.png' %}" alt="">
            </div>
            <div>
                <img src="{% static 'imagens/banner3.png' %}" alt="">
            </div>
        </div>
        <div class="divCategoria">
            <h1>Alimentação</h1>
            <a href="alimentacao/" class="ancoraCategoria">Ver mais produtos</a>
        </div>
        <div class=displayProdutos>
            {% for produto in alimentacao %}
            <div id="produto">
                <img src="../{{produto.imagem.url}}" alt="">
                <p class="produtoDescricao">{{produto.nome_produto}}</p>
                <p class="produtoMarca">{{produto.marca}}</p>
                <p class="produtoPreco">R$ {{produto.preco}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="divCategoria">
            <h1>Higiene & Saúde</h1>
            <a href="higiene/" class="ancoraCategoria">Ver mais produtos</a>
        </div>        
            <div class=displayProdutos>
            {% for produto in higiene %}
            <div id="produto">
                <img src="../{{produto.imagem.url}}" alt="">
                <p class="produtoDescricao">{{produto.nome_produto}}</p>
                <p class="produtoMarca">{{produto.marca}}</p>
                <p class="produtoPreco">R$ {{produto.preco}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="divCategoria">
            <h1>Brinquedos & Bem Estar</h1>
            <a href="higiene/" class="ancoraCategoria">Ver mais produtos</a>
        </div>
        <div class=displayProdutos>
            {% for produto in brinquedos %}
            <div id="produto">
                <img src="../{{produto.imagem.url}}" alt="">
                <p class="produtoDescricao">{{produto.nome_produto}}</p>
                <p class="produtoMarca">{{produto.marca}}</p>
                <p class="produtoPreco">R$ {{produto.preco}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %} 