body {
    background-color: #01B5B2;
    margin: 0 auto;
}

.ancoraCategoria {
    background-color: rgb(161, 161, 161);
    border-radius: 5px;
    color: white;
    font-family: Proxima Nova Xbold;
    font-size: 8pt;
    margin-left: 20px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.botaoBusca {
    background: no-repeat;
    background-image: url('imagens/icones/busca.png');
    border-radius: 0;
    height: 40px;
    width: 40px;
}

#buscaProdutos {
    border: none;
    color: #0E1122;
    font-family: Proxima Nova Blk;
    font-size: 20pt;
    height: 60px;
    margin-left: 30px;
    margin-right: 5px;
    padding-left: 20px;
    width: 40%;
}

button {
    background-color: #01B5B2;
    border: none;
    border-radius: 20px;
    color: white;
    font-family: Proxima Nova Blk;
    font-size: 10pt;
    height: 50px;
    margin-right: 15px;
    text-transform: uppercase;
    width: 200px;
}

button:hover {
    background-color: #ffff;
    color: #0E1122;
    cursor: pointer;
}

.displayProdutos {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    width: 100%;
}

.divBanners {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 250px;
    justify-content: space-around;
    width: 100%;
}

.divBanners div {
    cursor: pointer;
    height: 215px;
    width: 427px ;
}

.divBanners img {
    height: 100%;
    width: 100%;
}

.divCategoria {
    align-items: center;
    display: flex;
    flex-flow: row;
}

.divConteudo {
    align-items: center;    
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.divDownload {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 70px;
    width: 100%;
}

.divDownload p {
    margin-bottom: 5px;
}

.divDownApple {
    height: auto;
    padding: 10px 0 0 20px;
    width: 140px;
}

.divDownGoogle {
    height: auto;
    padding: 10px 0 0 0;
    width: 150px;
}

.divDownImg {
    display: flex;
    flex-direction: row;
}

.divImg {
    height: 100%;
    padding-top: 45px;
    padding-right: 40px;
    width: 50%;
}

.divImg img {
    height: 100%;
    width: 100%;
}

@font-face {
    font-family: Proxima Nova Blk;
    src: url(fonts/ProximaNova-Black.otf);
}

@font-face {
    font-family: Proxima Nova Xbold;
    src: url(fonts/ProximaNova-Xbold.otf);
}

footer {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    width: 100%;
}

.footerConteudo {
    align-items: center;
    border-color: rgba(1, 181, 178, 0.103);
    border-top-style: ridge;
    display: flex;
    height: 85%;
    justify-content: space-around;
    width: 100%;
}

.footerCriadores {
    align-items: center;
    display: flex;
    height: 15%;
    justify-content: center;
    width: 100%;
}

.footerCriadores p {
    color: #01B5B2;
    font-family: Proxima Nova Xbold;
    font-size: 10pt;
}

.footerNews {
    align-items: center;
    background-color: #0E1122;
    display: flex;
    height: 100px;
    justify-content: space-around;
    width: 100%;
}

.footerRaiz, .footerContato, .footerRedes {
    height: 90%;
    width: 25%;
}

.footerRaiz a {
    color: #0E1122;
    font-family: Proxima Nova Xbold;
    font-size: 12pt;
    text-decoration: none;
}

.footerRaiz p {
    color: #01B5B2;
    font-family: Proxima Nova Xbold;
    font-size: 10pt;
    text-decoration: none;
    text-transform: uppercase;
}

.footerRaiz ul {
    list-style: none;
    padding: 0;
}

.formBotao {
    background-color: white;
    border: none;
    border-radius: 12px;
    color: #0E1122;
    font-family: Proxima Nova Blk;
    font-size: 10pt;
    height: 30px;
    margin-left: 10px;
    text-transform: uppercase;
    width: 90px;
}

.formBotao:hover {
    background-color: #01B5B2;
    cursor: pointer;
}

.formBusca {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
}

.formEmail {
    background-color: white;
    border: none;
    border-radius: 12px;
    color: #0E1122;
    font-family: Proxima Nova Blk;
    font-size: 10pt;
    height: 27px;
    margin-left: 10px;
    padding-left: 15px;
    text-transform: uppercase;
    width: 350px;
}

h1 {
    color: white;
    font-family: Proxima Nova Blk;
    padding-top: 20px;
}

h1 span {
    padding-left: 90px;
}

header {
    background-image: url(imagens/op2_header.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    height: 665px;
    width: 100%;
    /* parallax */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.navAncoras {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    padding-right: 65px;
    width: 60%;
}

.navAncoras a:hover {
    color: #01B5B2;
}

.navFixa {
    align-items: center;
    display: flex;
    height: 90px;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    /* transição */
    transition: background-color 600ms ease-in-out;
    -moz-transition: background-color 600ms ease-in-out;
    -webkit-transition: background-color 600ms ease-in-out;
}

.navLogo {
    align-items: center;
    display: flex;
    height: 100%;
    padding-left: 65px;
    width: 40%;
}

.navLogo, .navAncoras a {
    color: white;
    font-family: Proxima Nova Blk;
    font-size: 11pt;
    text-decoration: none;
    text-transform: uppercase;
}

.newsletter {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    width: 55%;
}

p {
    color: white;
    font-family: Proxima Nova Xbold;
}

#produtos {
    align-content: center;
    background-image: url(imagens/op2_header.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    height: auto;
    justify-content: center;
    width: 100%;
     /* parallax */
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#produto {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin: 0 0 25px 28px;
    width: 230px;
    cursor: pointer;
}

#produto:hover {
    box-shadow: 5px 5px 15px  rgb(219, 219, 219);
}

#produto img {
    height: 150px;
    margin-top: 10px;
    width: 150px;
}

.produtoDescricao {
    color: #0E1122;
    font-family: Proxima Nova Xbold;
    font-size: 12pt;
    padding-left: 30px;
    padding-right: 30px;
}

.produtoMarca {
    color: gray;
    font-family: Proxima Nova Xbold;
    font-size: 10pt;
    margin: -10px 125px 0 10px;
}

.produtoPreco {
    color: #0E1122;
    font-family: Proxima Nova Xbold;
    font-size: 24pt;
    text-align: center;
    margin-top: 15px;
}

.redessociais {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-around;
    width: 15%;

}

.redessociais div {
    align-items: center;
    border-color: white;
    border-radius: 100px;
    border-style: solid;
    border-width: 1.5px;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
}

.redessociais div:hover {
    background-color: #01B5B2;
    cursor: pointer;
}

.redessociais img {
    filter: invert(100%);
    width: 60%;
}

.tabelaProdutos {
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 100px;
    width: 98%;
}

.tabelaProdutos h1 {
    color: #0E1122;
    margin-top: 5px;
    padding-left: 50px;
}

.texto {
    height: auto;
    padding-top: 150px;
    width:70%;
}
